CMakeCache.txt
CMakeFiles  
cmake_install.cmake
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rshell
test

# CMake Temp Files
CMakeCache.txt
CMakeFiles

# testing folders and output files
integration_tests/single_output.txt
integration_tests/multiple_output.txt
integration_tests/exit_output.txt
integration_tests/commented_output.txt
integration_tests/single_command.txt
integration_tests/multiple_command.txt
integration_tests/exit_command.txt
integration_tests/commented_command.txt
integration_tests/precedence_command.txt
integration_tests/precedence_output.txt
integration_tests/testL_command.txt
integration_tests/testL_output.txt
integration_tests/testS_command.txt
integration_tests/testS_output.txt
